<div class="header">
  <div class="container d-flex justify-content-between align-items-center">
    <h1><%= link_to "RESTO", root_path, class: "logo" %></h1>
    <ul class="nav">
      <li><%= link_to "Restaurants", restaurants_path %></li>
      <li>About</li>
      <li>Contact</li>
    </ul>
  </div>
</div>
