<div class="landing d-flex flex-column justify-content-center align-items-start">

  <div class="landing-content container text-right">
    <h1>Find your new <br> favorite restaurant</h1>
    <%= link_to "Start searching", restaurants_path, class: "btn btn-primary" %>
  </div>
</div>
