.header {
  background: #fff;
  color: #000;
  font-weight: bold;
  width: 100%;
  padding: 20px;
  position: absolute;
  top: 0;
  z-index: 1;
}

.header ul {
  list-style: none;
  padding: 0;
}

.header li {
  display: inline;
  margin-left: 20px;
}

.logo {
  font-weight: bold;
}
